{{define "basic-system-setup"}}
## Generate fstab

```
# genfstab -U /mnt >> /mnt/etc/fstab
```

## Enter the new system

```
# arch-chroot /mnt
```

## Configure time

```
# ln -sf /usr/share/zoneinfo/Region/City /etc/localtime
# hwclock --systohc
```

## Configure locale

Uncomment desired locales from `/etc/locale.gen`.

Generate locales.

```
# locale-gen
```

Configure `LANG`.

```
# echo "LANG=en_US.UTF-8" > /etc/locale.conf
```
{{end}}

