{{define "boot-installer"}}
## Boot installer

- Plug in live USB.
- Power on the laptop.
- Press {{.}} to access the boot menu when you see the boot logo.
- Select the installer live USB from boot menu (likely the first entry in the
  menu)
{{end}}
