{{define "boot-installer"}}
## Boot installer

- Plug in live USB.
- Power on the laptop.
- Press {{.}} to access the boot menu when you see the boot logo.
- Select "Arch Linux install medium" from GRUB menu
{{end}}
