{{define "install-cups"}}
## Install CUPS

See [CUPS](https://wiki.archlinux.org/title/CUPS).

Install packages.

```
sudo pacman -S cups cups-pdf cups-filters

# Drivers
sudo pacman -S foomatic-db-engine foomatic-db-ppds foomatic-db-nonfree-ppds gutenprint foomatic-db-gutenprint-ppds
sudo pacman -S system-config-printer
sudo pacman -S hplip
```

Enable service

```
sudo systemctl enable --now cups.service
```
{{end}}
