{{define "install-gnome"}}
## Install GNOME

```
# Fonts
pacman -S noto-fonts noto-fonts-cjk noto-fonts-emoji noto-fonts-extra

# Audio management
pacman -S pipewire pipewire-alsa pipewire-pulse pipewire-jack wireplumber
pacman -S pipewire-v4l2 gst-plugin-pipewire

# Screen sharing
pacman -S xdg-desktop-portal xdg-desktop-portal-gnome

# GNOME
pacman -S gdm gnome xdg-utils {{if eq . "wayland"}}wl-clipboard{{else}}xclip{{end}}
systemctl enable gdm.service

# Power management
pacman -S power-profiles-daemon
```
{{end}}
