{{define "install-cups"}}
## Install CUPS

See [CUPS](https://wiki.archlinux.org/title/CUPS).

Install packages.

```
pacman -S cups cups-pdf cups-filters

# Drivers
pacman -S foomatic-db-engine foomatic-db-ppds foomatic-db-nonfree-ppds gutenprint foomatic-db-gutenprint-ppds
pacman -S hplip
```

Enable service

```
systemctl enable cups.service
```
{{end}}
