{{define "partition-drive"}}
## Create partition table

Create a GPT partition table on main drive.

- `echo g` create a GPT partition table
- `echo w` write changes to disk

```
(echo g; echo w;) | fdisk /dev/nvme0n1
```

## Create EFI partition

Create a new partition.

- `echo n` add new partition
- `echo 1` set parition number
- `echo` accept default first sector
- `echo "+512M"` set the last sector
- `echo w` write changes to disk

```
(echo n; echo 1; echo; echo "+512M"; echo w;) | fdisk /dev/nvme0n1
```

Set partition type to EFI.

- `echo t` change partition type
- `echo w` write changes to disk

```
(echo t; echo "EFI System"; echo w;) | fdisk /dev/nvme0n1
```

## Create primary partition

The primary partition is where all the user data will be stored.

Create a new partition.

- `echo n` add new partition
- `echo 2` set parition number
- `echo` accept default first sector
- `echo` accept default last sector (end of disk)
- `echo w` write changes to disk

```
(echo n; echo 2; echo; echo; echo w;) | fdisk /dev/nvme0n1
```

No need to change partition type, default is "Linux filesystem".

## Verify disk

```
# fdisk -l /dev/nvme0n1
Disk /dev/nvme0n1: 447.13 GiB, 480103981056 bytes, 937703088 sectors
Disk model: PC SN530 NVMe WDC
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/optimal): 512 bytes / 512 bytes
Disklabel type: gpt
Disk identifier: DB00E3FF-2C56-47A8-63D1-DB2191CB608A

Device           Start       End   Sectors   Size Type
/dev/nvme0n1p1    2048   1050623   1048576   512M EFI System
/dev/nvme0n1p2 1050624 937701375 936650752 446.6G Linux filesystem
```
{{end}}
