{{define "partition-drive"}}
## Create partition table

Create a GPT partition table on main drive.

- `echo g` create a GPT partition table
- `echo w` write changes to disk

```
# (echo g; echo w;) | fdisk /dev/nvme0n1
```

## Create EFI partition

Create a new partition.

- `echo n` add new partition
- `echo 1` set parition number
- `echo` accept default first sector
- `echo "+513M"` set the last sector
- `echo w` write changes to disk

```
# (echo n; echo 1; echo; echo "+512M"; echo w;) | fdisk /dev/nvme0n1
```

Set partition type to EFI.

- `echo t` change partition type
- `echo w` write changes to disk

```
# (echo t; echo "EFI System"; echo w;) | fdisk /dev/nvme0n1
```

## Create Linux filesystem partition

Create a new partition.

- `echo n` add new partition
- `echo 2` set parition number
- `echo` accept default first sector
- `echo` accept default last sector (end of disk)
- `echo w` write changes to disk

```
# (echo n; echo 2; echo; echo; echo w;) | fdisk /dev/nvme0n1
```

No need to change partition type, default is "Linux filesystem".

## Verify disk

```
# fdisk -l /dev/nvme0n1
```
{{end}}
