{{define "setup-bootloader"}}
## Configure EFISTUB

Install `efibootmgr`.

```
pacman -S intel-ucode
pacman -S efibootmgr
```

The firmware will be in charge of booting Linux.

```
efibootmgr --create --disk /dev/nvme0n1 --part 1 --label 'Arch Linux' \
	--loader /vmlinuz-linux \
	--unicode "cryptdevice=UUID=$(blkid -s UUID -o value /dev/nvme0n1p2):cryptroot root=/dev/mapper/cryptroot rw initrd=/intel-ucode.img initrd=/initramfs-linux.img"
```
{{end}}
