{{define "setup-gnome-keyboard"}}
## Configure GNOME keyboard

Configure the keyboard for Spanish accents and map caps to control.

```
# Change
gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us+altgr-intl')]"
gsettings set org.gnome.desktop.input-sources xkb-options "['ctrl:nocaps']"

# Verify
gsettings get org.gnome.desktop.input-sources sources
gsettings get org.gnome.desktop.input-sources xkb-options
```
{{end}}
