{{define "setup-network"}}
## Set hostname

```
# echo "myhost" > /etc/hostname
```

## Set regulatory domain

```
# iw reg set US
```

## Install NetworkManager

Install the package.

```
# pacman -S networkmanager
```

Enable the service.

```
# systemctl enable NetworkManager.service
```
{{end}}
