# Install

This guide is for installing Linux on a Dell XPS 13 9310. See
[lshw.txt](lshw.txt) for more detailed hardware info.

See also [Dell XPS 13 (9310)](https://wiki.archlinux.org/title/Dell_XPS_13_(9310)).

{{template "get-installer-iso"}}

{{template "create-installer-live-usb"}}

## Change firmware settings before boot

- Boot the laptop
- Press F2 to access the firmware settings

- Boot Configuration > Enable Secure Boot = OFF
- Storage > SATA/NVMe Operation = AHCI/NVMe

{{template "boot-installer" "F12"}}

{{template "connect-to-wifi"}}

{{template "partition-drive"}}
{{template "install-filesystems"}}

{{template "bootstrap-system"}}

{{template "install-intel-microcode"}}
{{template "install-fwupd"}}
{{template "install-sof"}}
{{template "setup-intel-graphics" "TigerLake"}}
{{template "setup-ssd-trim"}}

{{template "create-initial-ramdisk" "TigerLake"}}
{{template "setup-efistub" "intel"}}

{{template "setup-time"}}
{{template "setup-locale"}}
{{template "setup-network"}}
{{template "setup-users"}}

{{template "install-gnome"}}

{{template "reboot"}}

{{template "setup-gnome-keyboard"}}
{{template "install-firefox" "vaapi"}}
