# Install

This guide is for installing Linux on a Dell XPS 13 9310. See
[lshw.txt](lshw.txt) for more detailed hardware info.

{{template "get-installer-iso"}}

{{template "create-installer-live-usb"}}

## Change firmware settings before boot

- Disable Secure Boot
- Storage > NVMe Operation > Select AHCI/NVMe

{{template "boot-installer" "F12"}}

{{template "connect-to-wifi"}}

{{template "partition-drive"}}

{{template "install-filesystems"}}

{{template "bootstrap-system"}}

{{template "install-fwupd"}}
{{template "install-sof"}}
{{template "setup-intel-graphics" "TigerLake"}}

{{template "create-initial-ramdisk" "TigerLake"}}
{{template "setup-efistub"}}

{{template "setup-time"}}
{{template "setup-locale"}}
{{template "setup-network"}}
{{template "setup-users"}}

{{template "install-gnome"}}
{{template "setup-gnome-keyboard"}}
