# Install

This guide is for installing Linux on a Dell XPS 13 9310. See
[lshw.txt](lshw.txt) for more detailed hardware info.

{{template "get-installer-iso" }}

{{template "create-installer-live-usb"}}

## Change firmware settings

- Disable Secure Boot
- Storage > NVMe Operation > Select AHCI/NVMe

## Boot installer

- Plug in live USB.
- Power on the laptop.
- Press F12 to access the boot menu when you see the boot logo.
- Select the installer live USB from boot menu.

{{template "connect-to-wifi"}}

## Create partition table
## Create partitions
## Install file system
